<!--script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '147353142634383',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v3.0'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/es_ES/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script-->

<!--div class="fb-customerchat" page_id="146875185348440" logged_in_greeting="Hola! En qué podemos ayudarte?" logged_out_greeting="Hola! En qué podemos ayudarte?"></div-->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFVN9XN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div id="float-cta">
    <span>Envianos un whatsapp!</span>
    <a href="javascript:void(0);">
        <i class="fab fa-whatsapp" aria-hidden="true"></i>
        <i class="fa fa-times" aria-hidden="true"></i>
    </a>
    
    <div class="whatsapp-msg-container">
        <div class="whatsapp-msg-header">
            <button type="button" class="whatsapp-msg-close"><i class="fa fa-times"></i></button>
            <h6>WhatsApp Chat</h6>
        </div>
        <div class="whatsapp-msg-body">
            <textarea name="whatsapp-msg" class="whatsapp-msg-textarea" placeholder="Hola, podés consultar vía whatsapp..."></textarea>
        </div>
        <div class="whatsapp-msg-footer">
            <button type="button" class="btn-whatsapp-send">Enviar</button>
        </div>
    </div>
    
</div>