<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }} | {{ page.title }}</title>
    
  <!-- meta tags -->
  <META NAME="subject" CONTENT="Portfolio Personal">
  <META NAME="Classification" CONTENT="Soy diseñador gráfico y desarrollador web con más de 5 años de experiencia. Ofrezco soluciones integrales a empresas y particulares para mejorar su presencia online. Diseño web, posicionamiento web, marketing online y mucho más.">
  <META NAME="Keywords" CONTENT="diseño gráfico, paginas web, diseño web, desarrollo web, desarrollo de front end, ecommerce, marketing online, google adwords, social media, redes sociales">
  <META NAME="Geography" CONTENT="Ciudad Autónoma de Buenos Aires, Buenos Aires, Argentina">
  <META NAME="Language" CONTENT="Spanish">
  <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="PUBLIC">
  <META NAME="Copyright" CONTENT="Juan Cieri">
  <META NAME="Designer" CONTENT="Juan Cieri">
  <META NAME="Publisher" CONTENT="Juan Cieri - Diseño Gráfico & Desarrollo Web">
  <META NAME="distribution" CONTENT="Global">
  <META NAME="zipcode" CONTENT="1235">
  <META NAME="city" CONTENT="Caballito">
  <META NAME="country" CONTENT="Argentina">
    
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta name="robots" content="index,follow"/>
  <meta name="GOOGLEBOT" content="index,follow"/>
  <meta name="category" content="web design"/>
  <meta name="author" content="Juan Cieri"/>

  <!-- Styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/animate.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/owl.carousel.min.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
    
  <!-- JQuery-->
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <!-- Font Awesome-->
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries--><!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    
  <!-- Facebook Open Graph -->
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" />
  <meta property="og:type" content="" />
  <meta property="og:url" content="{{site.url}}" />
  <meta property="og:image" content="" />
  <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
  
  {% if jekyll.environment == 'production' and site.google_analytics %}
  {% include google-analytics.html %}
  {% endif %}
</head>
