<nav id="menu">
    
    <button type="button" role="button" id="closeMenu">
        <span></span>
        <span class="hide-open"></span>
        <span></span>
    </button>
    
    <header>
        <img src="{{ "/assets/img/foto-perfil.jpg" | relative_url }}" alt="Juan Cieri Foto Perfil">
    </header>
    
    <ul class="nav-menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="/sobremi/">Sobre mi</a></li>
        <li><a href="/portfolio/">Portfolio</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/contacto/">Contacto</a></li>
        <li><a href="https://juancieri.typeform.com/to/OjOs72" data-mode="1" target="_blank" class="typeform-share">Solicitar Presupuesto</a></li>
    </ul>
    
    <ul class="nav-social">
        <li>
            <a href="https://github.com/juancieri" target="_blank" data-toggle="tooltip" data-placement="top" title="Juan Cieri Github"><i class="fab fa-github"></i></a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/juancieri" target="_blank" data-toggle="tooltip" data-placement="top" title="Juan Cieri Linkedin"><i class="fab fa-linkedin"></i></a>
        </li>
        <li>
            <a href="https://www.behance.net/juancieri" target="_blank" data-toggle="tooltip" data-placement="top" title="Juan Cieri Behance"><i class="fab fa-behance"></i></a>
        </li>
        <li>
            <a href="https://www.facebook.com/juancieridg" target="_blank" data-toggle="tooltip" data-placement="top" title="Juan Cieri Facebook"><i class="fab fa-facebook"></i></a>
        </li>
        <li>
            <a href="https://dribbble.com/juancieri" target="_blank" data-toggle="tooltip" data-placement="top" title="Juan Cieri Dribbble"><i class="fab fa-dribbble"></i></a>
        </li>
        <li>
            <a href="https://twitter.com/juancieri" target="_blank" data-toggle="tooltip" data-placement="top" title="Juan Cieri Twitter"><i class="fab fa-twitter"></i></a>
        </li>
    </ul>
    
</nav>

<button type="button" role="button" id="toggleMenu">
    <span></span>
    <span></span>
    <span></span>
</button>

<a href="https://juancieri.typeform.com/to/OjOs72" data-mode="1" target="_blank" class="typeform-share menu-float-btn">Solicitar Presupuesto</a>

<button type="button" class="toTop"><i class="fa fa-angle-double-up"></i></button>