// POST
.post-header {
    @media (max-width: 768px) {
        .container, .col-xs-12 {
            padding: 0;
        }
        .row {
            margin: 0;
        }
    }
    &-cover {
        margin-top: 50px;
        height: 500px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        @include media-xs {
            margin-top: 0;
            height: 250px;
        }
    }
}

.post-content {
    background-color: $white;
    
    &-date {
        background-color: $white;
        margin-top: -130px;
        
        p {
            padding: 36px 20px;
            float: left;
            color: $gray;
            font-size: 18px;
            @include font-size(18px);
            margin: 0;
        }
        
    }
    
    .col-md-10:hover {
        .post-extra {
            background-color: $black;
            color: $white;
        }
    }
    
}

.post-details {
    p:first-child {
        &:first-letter {
            color: $white;
            background-color: $black;
            padding: 0 10px;
            font-weight: 900;
            font-size: 60px;
            @include font-size(60px);
            line-height: 70px;
            @include line-height(70px);
            float: left;
            margin-right: 10px;
        }
    }
}

.post-extra {
    background-color: $lightgray;
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    color: $gray;
    transition: 0.3s;
    
    span {
        display: block;
        line-height: 30px;
    }
    
    .day {
        font-weight: 700;
        font-size: 40px;
        @include font-size(40px);
    }
    
}

.post-title, .post-details {
    @media (min-width: 768px) {
        padding-left: 115px;
    }
}

.post-title {
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 25px 0;
    @include media-xs {
        margin-top: 15px;
    }
}

.post-nav {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    z-index: 10;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%;
        display: flex;
        align-items: stretch;
    }
    li {
        flex-grow: 1;
        flex-basis: 50%;
        border-left: 1px solid $white;
        border-right: 1px solid $white;
        &:nth-child(2) {
            text-align: right;
        }
    }
    li a {
        display: block;
        transition: 0.3s;
        background-color: $lightgray;
        color: $gray;
        padding: 15px;
        min-height: 100%;
        &:hover {
            text-decoration: none;
            background-color: $black;
            color: $white;
        }
    }
    &-return {
        width: 50px;
        height: 50px;
        position: absolute;
        left: calc(50% - 25px);
        top: calc(50% - 25px);
        background-color: $white;
        border: 2px solid $black;
        transition: 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        .fa {
            color: $black;
            transition: 0.3s;
        }
        &:hover {
            background-color: $primary-color;
            border-color: $primary-color;
            text-decoration: none;
            .fa {
                color: $white;
            }
        }
    }
}

#share-top {
    position: absolute;
    right: 15px;
    width: 100%;
    max-width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
}

#share-bottom {
    width: 100%;
    position: relative;
    margin: 30px 0;
    display: block;
}

.share-btns {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    li {
        flex-grow: 1;
        text-align: center;
        border: 1px solid white;
    }
    
    a {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(lightgray, .6);
        color: rgba(black, .5);
        transition: 0.3s;
        
        &:hover {
            color: white;
            text-decoration: none;
            background-color: black;
        }
        
    }
    
}