// VARIABLES
$roboto: "Roboto", sans-serif;
$oswald: 'Oswald', sans-serif;
$raleway: 'Raleway', sans-serif;

// COLORES
$black: black;
$white: white;

$primary-color: #ff6161;
$secondary-color: white;