---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

@import 'helpers/_variables';
@import 'helpers/_mixins';
@import 'components/_fonts';
@import 'layout/_grid';

// COMMMON
html, body {
    font-size: 16px;
}
::selection {
    background: $primary-color;
    color: $white;
}
::-moz-selection {
    background: $primary-color;
    color: $white;
}

@import 'layout/_header';
@import 'layout/_footer';
@import 'components/_carousel';

// PAGES
@import 'pages/_home';

// CUSTOM SCROLLBAR
@include scrollbars(.5em, $primary-color);