---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

@import 'helpers/_variables';
@import 'helpers/_mixins';
@import 'components/_fonts';
@import 'layout/_grid';

// COMMMON
html, body {
    font-size: 16px;
    font-family: $roboto;
    
    @include media-xs {
        font-size: 14px;
    }
}

.vcenter {
    display: flex;
    align-items: center;
}

.page-overlay {
    position: fixed;
    z-index: 2;
    background: rgba(0,0,0,.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
}
::selection {
    background: $primary-color;
    color: $white;
}
::-moz-selection {
    background: $primary-color;
    color: $white;
}
.flex {
    @media (min-width: 768px) {
        display: flex;
        align-items: stretch;
    }
}
.filter {
    @include media-xs {
        display: none;
    }
}
.toTop {
    border: none;
    background-color: $black;
    color: $white;
    transition: 0.3s;
    position: fixed;
    left: 25px;
    bottom: 0;
    padding: 10px 15px;
    outline: none;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    &:hover {
        background-color: $primary-color;
        color: $white;
    }
    .scrolling > & {
        opacity: 1;
        visibility: visible;
        bottom: 25px;
    }
}
img {
    &.half {
        display: inline-block;
        width: calc(50% - 8px);
        float: left;
        margin: 0 15px 15px 0;
        box-sizing: border-box;
        
        &:nth-child(even) {
            margin: 0 0 15px 0;
        }
        
        @include media-xs {
            margin: 0 0 15px 0;
            width: 100%;
            float: none;
            display: block;
        }
        
    }
    &.full {
        width: 100%;
        dislay: block;
        margin-bottom: 15px;
    }
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        &:before {
            content: "\f046";
            font-family: "FontAwesome";
            margin-right: 10px;
        }
    }
}

// TITLES
.section-title {
    font-family: $roboto;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 50px 0;
    letter-spacing: 1px;
}
.page-title {
    text-align: center;
    color: $white;
    margin: 0;
    padding: 80px 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $oswald;
    letter-spacing: 2px;
    font-size: 50px;
    @include font-size(50px);
    animation: glitch 3s steps(100) infinite;
}
.page-heading {
    margin: 30px 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    @include font-size(30px);
    
    &:before, &:after {
        transition: 0.3s;
    }
    
    &:before {
        content: "<";
        margin-right: 5px;
    }
    
    &:after {
        content: "/>";
        margin-left: 5px;
    }
    
    &:hover {
        &:before {
            margin-right: 10px;
        }
        &:after {
            margin-left: 10px;
        }
    }
    
}
.big-title {
    position: absolute;
    top: -38px;
    font-size: 140px;
    color: $black;
    font-weight: 700;
    line-height: 0;
    width: 100%;
    left: 0;
    text-align: center;
    
    @include media-xs {
        font-size: 80px;
        top: -24px;
    }
    
}

// BUTTONS
.btn {
    outline: none !important;
    transition: 0.3s;
    text-transform: uppercase;
    
    &-telegram, &-telegram:visited, &-whatsapp, &-whatsapp:visited {
        color: $white;
        background-color: #27A5E7;
        font-size: 30px;
        border: 3px solid $white;
        padding: 0;
        @include border-radius(50%);
        line-height: 0;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
        
        height: 56px;
        width: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &:hover {
            color: $white;
            backgorund-color: darken(#27A5E7, 10);
            -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
            -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
            box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
        }
    }
    
    &-whatsapp, &-whatsapp:visited {
        color: $white;
        background-color: #25d366;
        &:hover {
            color: $white;
            background-color: darken(#25d366, 10);
        }
    }
    
    &-telegram {
        .fab {
            position: relative;
            left: -2px;
        }
    }
    
}

// BG
.bg-black {
    background-color: $black;
    color: $white;
}
.bg-white {
    background-color: $white;
}
.bg-primary {
    background-color: $primary-color;
}
.bg-gray {
    background-color: $lightgray;
}

// PAGE HEADER
.page-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../assets/img/video-header.jpg);
    margin: 50px 0 30px 0;
    position: relative;
    @media (min-width: 768px) {
        background-attachment: fixed;
    }
    
    &:before, &:after {
        display: block;
        width: 100%;
        height: 50px;
        content: "";
        position: absolute;
        background-color: $white;
        left: 0;
    }
    
    &:before {
        transform:skew(0deg,-2deg);
        -ms-transform:skew(0deg,-5deg);
        -webkit-transform:skew(0deg,-2deg);
        top: -30px;
    }
    
    &:after {
        transform:skew(0deg,2deg);
        -ms-transform:skew(0deg,5deg);
        -webkit-transform:skew(0deg,2deg);
        bottom: -30px;
    }
    
}

// ANIMATIONS
@keyframes glitch { 
  0% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  1% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  2% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  3% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  4% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  5% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  6% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  7% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  8% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  9% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  10% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  11% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
  12% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
  13% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
  14% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
  15% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
  16% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
  17% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
  18% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
  19% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
  20% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
  21% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  22% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  23% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  24% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  25% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  26% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0.5px);}
  27% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0.5px);}
  28% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  29% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  30% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  31% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
  32% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
  33% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
  34% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
  35% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0.5px);}
  36% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0.5px);}
  37% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0.5px);}
  38% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
  39% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
  40% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
  41% { text-shadow: 45px 0 0 #0c33f5, -45px 0 0 lime; filter: blur(0);}
  42% { text-shadow: 0 0 0 #0c33f5, 0 0 0 lime; filter: blur(0);}
  43% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
  44% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
  45% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
  46% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
  47% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0.5px);}
  48% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
  49% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
  50% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
  51% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  52% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  53% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  54% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  55% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0.5px);}
  56% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0.5px);}
  57% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0.5px);}
  58% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  59% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  60% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  61% { text-shadow: 30px 0 0 red, -30px 0 0 lime; filter: blur(0);}
  62% { text-shadow: 0 0 0 red, 0 0 0 lime; filter: blur(0);}
  63% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; filter: blur(0);}
  64% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; filter: blur(0);}
  65% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; filter: blur(0);}
  66% { text-shadow: 1px 0 0 red, -1px 0 0 #0c33f5; filter: blur(0.5px);}
  67% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0.5px);}
  68% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  69% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  70% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  71% { text-shadow: 50px 0 0 red, -50px 0 0 #0c33f5; filter: blur(0);}
  72% { text-shadow: 0 0 0 red, 0 0 0 #0c33f5; filter: blur(0);}
  73% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  74% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  75% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  76% { text-shadow: 3px 0 0 red, -3px 0 0 #0c33f5; filter: blur(0);}
  77% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  78% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  79% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  80% { text-shadow: -3px 0 0 red, 3px 0 0 #0c33f5; filter: blur(0);}
  81% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
  82% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0);}
  83% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
  84% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
  85% { text-shadow: 1px 0 0 red, -1px 0 0 lime; filter: blur(0.5px);}
  86% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0.5px);}
  87% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0.5px);}
  88% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
  89% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
  90% { text-shadow: -3px 0 0 red, 3px 0 0 lime; filter: blur(0);}
  91% { text-shadow: 60px 0 0 lime, -60px 0 0 #0c33f5; filter: blur(0);}
  92% { text-shadow: 0 0 0 lime, 0 0 0 #0c33f5; filter: blur(0);}
  92% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  93% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  94% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  95% { text-shadow: 0.8px 0 0 #0c33f5, -0.8px 0 0 lime; filter: blur(0);}
  96% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
  97% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
  98% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
  99% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);}
  100% { text-shadow: -3px 0 0 #0c33f5, 3px 0 0 lime; filter: blur(0);} }

@import 'layout/_header';
@import 'layout/_footer';
@import 'components/_carousel';
@import 'components/_forms';

// PAGES
@import 'pages/_home';
@import 'pages/_post';
@import 'pages/_project';
@import 'pages/_blog';
@import 'pages/_portfolio';
@import 'pages/_sobremi';
@import 'pages/_contacto';

// CUSTOM SCROLLBAR
@include scrollbars(.5em, $primary-color);