---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

@import 'helpers/_variables';
@import 'helpers/_mixins';
@import 'components/_fonts';
@import 'layout/_grid';

// COMMMON
html, body {
    font-size: 16px;
}
::selection {
    background: $primary-color;
    color: $white;
}
::-moz-selection {
    background: $primary-color;
    color: $white;
}

// BG
.bg-black {
    background-color: $black;
    color: $white;
}
.bg-white {
    background-color: $white;
}
.bg-primary {
    background-color: $primary-color;
}

// PAGE HEADER
.page-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../assets/img/video-header.jpg);
    margin: 50px 0 30px 0;
    @media (min-width: 768px) {
        background-attachment: fixed;
    }
}
.page-title {
    text-align: center;
    color: $white;
    margin: 0;
    padding: 80px 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $oswald;
    letter-spacing: 2px;
    font-size: 50px;
    @include font-size(50px);
}

@import 'layout/_header';
@import 'layout/_footer';
@import 'components/_carousel';

// PAGES
@import 'pages/_home';
@import 'pages/_post';
@import 'pages/_blog';

// CUSTOM SCROLLBAR
@include scrollbars(.5em, $primary-color);