---
layout: default
---

{% include page-header.html %}

<section id="contactSection">
    <div class="container">
        <div class="row flex">
            <div class="col-sm-6 bg-primary">
                <h1 class="big-title">Say hi.</h1>
                <div class="contact-info">
                    <a href="mailto:info@juancieri.com">info@juancieri.com</a>
                </div>
                <p>Me gusta <strong>diseñar</strong>. Pero sobre todo me encanta <strong>programar</strong> mis diseños y darles vida.</p>
                <p>Me gusta <strong>enseñar</strong>. Pero más aún me gusta <strong>aprender</strong>. Constantemente investigo y me capacito sobre nuevas tecnologías.</p>
                <p><a href="mailto:info@juancieri.com">Say hi.</a></p>
                <blockquote>
                    Tienes que encontrar qué es lo que amas. Y esa premisa será igual de honesta tanto para tu trabajo como para tus amantes. Tu trabajo va a ocupar una gran parte de tu vida. La única forma de estar realmente satisfecho y realizado es haciendo cosas importantes, y la manera de lograrlo es amando lo que haces.
                </blockquote>
                <em>- Steve Jobs</em>
            </div>
            <div class="col-sm-6 bg-img">
            </div>
        </div>
    </div>
</section>