---
layout: default
---

<!-- VIDEO HEADER-->
<div class="homepage-hero-module">

    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            
            <source src="{{ "/assets/img/video-header.mp4" | relative_url }}" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="{{ "/assets/img/video-header.webm" | relative_url }}" type="video/webm">Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="{{ "/assets/img/video-header.ogv" | relative_url }}" type="video/ogv">Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden"><img src="{{ "/assets/img/video-header.jpg" | relative_url }}" alt="Video header"></div>
    </div>

    <div id="welcome">
        <div>
            <h1 data-wow-delay="0.3s" class="wow fadeInDown header-title">Soy juan cieri</h1>
            <h2 id="typed" class="header-subtitle"></h2>
            <div id="typed-strings">
                <p>Soy diseñador gráfico</p>
                <p>Soy desarrollador de front-end</p>
                <p>Diseñador gráfico &amp; desarrollador de front-end</p>
            </div>
            <div class="line"></div>
        </div>
    </div>

    <ul id="border">
        <li class="vert left"></li>
        <li class="vert right"></li>
        <li class="hori top"></li>
        <li class="hori bottom"></li>
    </ul>

    <span class="scroll-btn">
        <a href="#next" class="scroll"><span class="mouse"><span></span></span></a>
        <p>scroll me</p>
    </span>

</div>
<!-- /VIDEO HEADER -->

<div id="next" class="home">

  <h1 class="page-heading">Posts</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
