---
layout: default
---

<!-- VIDEO HEADER-->
<div class="homepage-hero-module">

    <div class="video-container">
   
        <video autoplay loop class="fillWidth">
            
            <source src="{{ "/assets/img/video-header.mp4" | relative_url }}" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="{{ "/assets/img/video-header.webm" | relative_url }}" type="video/webm">Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="{{ "/assets/img/video-header.ogv" | relative_url }}" type="video/ogv">Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden"><img src="{{ "/assets/img/video-header.jpg" | relative_url }}" alt="Video header"></div>
    </div>

    <div id="welcome">
        <div>
            <h1 data-wow-delay="0.3s" class="wow fadeInDown header-title">Soy juan cieri</h1>
            <h2 id="typed" class="header-subtitle"></h2>
            <div id="typed-strings">
                <p>Soy diseñador gráfico</p>
                <p>Soy desarrollador de front-end</p>
                <p>Diseñador gráfico &amp; desarrollador de front-end</p>
            </div>
            <div class="line"></div>
        </div>
    </div>

    <ul id="border">
        <li class="vert left"></li>
        <li class="vert right"></li>
        <li class="hori top"></li>
        <li class="hori bottom"></li>
    </ul>

    <span class="scroll-btn">
        <a href="#next" class="scroll"><span class="mouse"><span></span></span></a>
        <p>scroll me</p>
    </span>

</div>
<!-- /VIDEO HEADER -->

<!-- ULTIMAS NOTICIAS -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1 class="page-heading">Últimas noticias</h1>
                <a href="/blog/" class="btn-more">Ver más  <span><i class="fa fa-plus"></i></span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="lastPostCarousel" class="owl-carousel post-carousel">
                    {% for post in site.categories.blog limit:3 %}
                    <div class="item">
                        <article class="blog-item">
                            <div class="blog-item-image-container">
                                <a href="{{ post.url | relative_url }}" style="background-image: url(/assets/img/{{ post.image }});"></a>
                            </div>
                            <div class="blog-item-details">
                                <h4 class="blog-item-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h4>
                                <p class="date"><em>{{ post.date | date: "%b %d, %Y" }}</em></p>
                                <div class="blog-item-content">
                                    <p>{{ post.long_description }}</p>
                                    <a href="{{ post.url | relative_url }}" class="blog-item-link">Leer más <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /ULTIMAS NOTICIAS -->

<!-- ULTIMOS PROYECTOS -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1 class="page-heading">Últimos proyectos</h1>
                <a href="/portfolio/" class="btn-more">Ver más  <span><i class="fa fa-plus"></i></span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="lastProjectCarousel" class="owl-carousel post-carousel">
                    {% for project in site.categories.portfolio limit:3 %}
                    <div class="item">
                        <article class="project-item">
                            <figure>
                                <a href="{{ project.url | relative_url }}">
                                    <div class="project-item-square"><span></span></div>
                                    <img src="{{ project.main-image }}" class="img-responsive" alt="{{ project.title }}">
                                    <h4 class="project-item-title-hidden"><span>{{ project.title }}</span></h4>
                                </a>
                            </figure>
                            <figcaption>
                                <h4 class="project-item-title">{{ project.title }}</h4>
                                <p>{{ project.long_description }}</p>
                            </figcaption>
                            <a href="{{ project.url | relative_url }}" class="project-item-btn"><span>Ver proyecto</span></a>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /ULTIMOS PROYECTOS -->