---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
    
    <header class="post-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="post-header-cover" style="background-image: url(../../../../../assets/img/{{page.image}});"></div>
                </div>
            </div>
        </div>
    </header>
    
    <div class="post-content" itemprop="articleBody">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-push-2">
                    
                    <!-- date -->
                    <div class="post-content-date clearfix">
                        <div class="post-extra">
                            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                                <span class="month">{% assign date_format = site.minima.date_format | default: "%b" %} {{ page.date | date: date_format }}</span>
                                <span class="day">{% assign date_format = site.minima.date_format | default: "%-d" %} {{ page.date | date: date_format }}</span>
                                <span class="year">{% assign date_format = site.minima.date_format | default: "%Y" %} {{ page.date | date: date_format }}</span>
                            </time>
                        </div>
                       
                        <div id="share-top">
                            <ul class="share-btns">
                                <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//juancieri.github.io{{page.url}}" target="_blank" data-toggle="tooltip" data-title="Compartir en facebook" data-placement="top"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/home?status=https%3A//juancieri.github.io{{page.url}}" target="_blank" data-toggle="tooltip" data-title="Compartir en Twitter" data-placement="top"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//twitter.com/home?status=https%253A//juancieri.github.io{{page.url}}&title={{page.title}}source=Juan%20Cieri%20-%20Dise%C3%B1o%20Gr%C3%A1fico%20y%20Web" target="_blank" data-toggle="tooltip" data-title="Compartir en Linkedin" data-placement="top"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /date -->
                    
                    <!-- content -->
                    <h1 class="post-title">{{ page.title | escape }}</h1>
                    <div class="post-details">
                        {{ content }}
                    </div>
                    <!-- /content -->
                    
                    <div id="share-bottom">
                        <ul class="share-btns">
                            <li>
                                <small>Compartir:</small>
                            </li>
                            <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//juancieri.github.io{{page.url}}" target="_blank" data-toggle="tooltip" data-title="Compartir en facebook" data-placement="top"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/home?status=https%3A//juancieri.github.io{{page.url}}" target="_blank" data-toggle="tooltip" data-title="Compartir en Twitter" data-placement="top"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//twitter.com/home?status=https%253A//juancieri.github.io{{page.url}}&title={{page.title}}source=Juan%20Cieri%20-%20Dise%C3%B1o%20Gr%C3%A1fico%20y%20Web" target="_blank" data-toggle="tooltip" data-title="Compartir en Linkedin" data-placement="top"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    
                    <!-- post nav -->
                    <nav class="post-nav" role="nav">
                        <a href="/blog/" class="post-nav-return" data-toggle="tooltip" data-placement="top" data-title="Volver al blog"><i class="fa fa-th-large"></i></a>
                        <ul>
                            {% for post in site.categories.blog %}
                                {% if post.url == page.url %}
                                    {% assign post_index0 = forloop.index0 %}
                                    {% assign post_index1 = forloop.index %}
                                {% endif %}
                            {% endfor %}
                            {% for post in site.categories.blog %}
                                {% if post_index0 == forloop.index %}
                                    {% assign next_post = post.url %}
                                    {% assign next_post_title = post.title %}
                                    {% assign next_post_date = post.date %}
                                {% endif %}
                                {% if post_index1 == forloop.index0 %}
                                    {% assign prev_post = post.url %}
                                    {% assign prev_post_title = post.title %}
                                    {% assign prev_post_date = post.date %}
                                {% endif %}
                            {% endfor %}
                            <li>
                                {% if prev_post %}
                                <a href="{{ prev_post }}" class="prev">
                                    <em>{% assign date_format = site.minima.date_format | default: "%-d %b, %Y" %} {{ prev_post_date | date: date_format }}</em>
                                    <h6>{{prev_post_title}}</h6>
                                </a>
                                {% endif %}
                            </li>
                            <li>
                                {% if next_post %}
                                <a href="{{ next_post }}" class="next">
                                    <em>{% assign date_format = site.minima.date_format | default: "%-d %b, %Y" %} {{ next_post_date | date: date_format }}</em>
                                    <h6>{{next_post_title}}</h6>
                                </a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                    <!-- /post nav -->
                    
                </div>
            </div>
        </div>
    </div>
    
</article>
