---
layout: default
---

<a href="/portfolio/" class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></a>

<article class="project" itemscope itemtype="http://schema.org/BlogPosting">
    
    {% include page-header.html %}
    
    <div class="project-tags">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>{{ page.tags }}</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <img src="{{ page.main-image }}" alt="{{ page.title }}" class="img-reponsive main-img">
            </div>
            <div class="col-sm-4">
                <h2 class="project-title">{{page.title}}</h2>
                <p>{{page.description}}</p>
                <p>Las tecnologías utilizadas para el desarrollo del proyecto fueron:</p>
                <ul class="list">
                    {{page.skill}}
                </ul>
                <p>{{page.para}}</p>
                <a href="{{page.link}}" class="project-link" target="_blank" rel="nofollow">{{page.link}}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{ content }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!-- post nav -->
                <nav class="post-nav" role="nav">
                    <a href="/portfolio/" class="post-nav-return" data-toggle="tooltip" data-placement="top" data-title="Volver al portfolio"><i class="fa fa-th-large"></i></a>
                    <ul>
                        {% for post in site.categories.portfolio %}
                            {% if post.url == page.url %}
                                {% assign post_index0 = forloop.index0 %}
                                {% assign post_index1 = forloop.index %}
                            {% endif %}
                        {% endfor %}
                        {% for post in site.categories.portfolio %}
                            {% if post_index0 == forloop.index %}
                                {% assign next_post = post.url %}
                                {% assign next_post_title = post.title %}
                                {% assign next_post_date = post.date %}
                            {% endif %}
                            {% if post_index1 == forloop.index0 %}
                                {% assign prev_post = post.url %}
                                {% assign prev_post_title = post.title %}
                                {% assign prev_post_date = post.date %}
                            {% endif %}
                        {% endfor %}
                        <li>
                            {% if prev_post %}
                            <a href="{{ prev_post }}">
                                <h4>{{prev_post_title}}</h4>
                            </a>
                            {% endif %}
                        </li>
                        <li>
                            {% if next_post %}
                            <a href="{{ next_post }}">
                                <h4>{{next_post_title}}</h4>
                            </a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
                <!-- /post nav -->
            </div>
        </div>
    </div>
    
</article>
