---
layout: default
---

{% include page-header.html %}

<section class="section-panel first">
    
    <div class="item">
        <div class="item-img">
            <img src="/assets/img/disenador-grafico.jpg" alt="Juan Cieri Diseñador Gráfico" class="img-responsive">
        </div>
        <div class="item-block">
            <h1 class="item-title">Diseñador Gráfico U.B.A</h1>
            <span class="item-subtitle">¿Querés saber más sobre mi faceta como diseñador? Visitá <a href="https://juancieri.com">mi otro sitio web</a></span>
        </div>
    </div>
    
    <div class="item left">
        <div class="item-img">
            <img src="/assets/img/desarrollador-web.gif" alt="Desarrollador Web" class="img-responsive">
        </div>
        <div class="item-block">
            <h1 class="item-title">Desarrollador Web autodidacta</h1>
            <span class="item-subtitle">HTML5, CSS3, JQuery, JavaScript, PHP, Responsive Design. Mirá mi <a href="/portfolio/">Portfolio</a></span>
        </div>
    </div>
    
    <div class="item last">
        <div class="item-img">
            <img src="/assets/img/video-header.jpg" alt="" class="img-responsive">
        </div>
        <div class="item-block">
            <h1 class="item-title">Docente Universitario</h1>
            <span class="item-subtitle">Como docente y autodidacta intento compartir lo que aprendí. Pasate por mi <a href="/blog/">blog</a></span>
        </div>
    </div>
    
</section>

<div id="pinContainer">
    <section class="section-panel bg-1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="section-panel-item full">
                            <div class="text-center">
                                <h1>¿Qué hago?</h1>
                                <p>Me especializo en las siguientes áreas:</p>
                                <ul class="text-left">
                                    <li>Diseño gráfico de piezas impresas</li>
                                    <li>Diseño de piezas digitales (UI/UX)</li>
                                    <li>Maquetación de plataformas web</li>
                                    <li>Posicionamiento de sitio web (Google Adwords)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="section-panel-item design">
                        </div>
                        <div class="section-panel-item coding">
                        </div>
                        <div class="section-panel-item posicionamiento">
                            <div>
                                <h4>Posicionamiento</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
    </section>
    <section class="section-panel bg-2 vcenter hidden-xs">
        <div class="text-center">
            
            <div id="content">
                <div class="legend">
                    <h1>Legend:</h1>
                    <div class="skills">
                        <ul>
                            <li class="jq">JavaScript</li>
                            <li class="css">CSS3</li>
                            <li class="html">HTML5</li>
                            <li class="php">PHP</li>
                            <li class="sql">MySQL</li>
                        </ul>
                    </div>	
                </div>
                <div id="diagram"></div>
            </div>
            
            <div class="get">
                <div class="arc">
                    <span class="text">JavaScript</span>
                    <input type="hidden" class="percent" value="50" />
                    <input type="hidden" class="color" value="#97BE0D" />
                </div>
                <div class="arc">
                    <span class="text">CSS3</span>
                    <input type="hidden" class="percent" value="100" />
                    <input type="hidden" class="color" value="#D84F5F" />
                </div>
                <div class="arc">
                    <span class="text">HTML5</span>
                    <input type="hidden" class="percent" value="100" />
                    <input type="hidden" class="color" value="#88B8E6" />
                </div>
                <div class="arc">
                    <span class="text">PHP</span>
                    <input type="hidden" class="percent" value="55" />
                    <input type="hidden" class="color" value="#BEDBE9" />
                </div>
                <div class="arc">
                    <span class="text">MySQL</span>
                    <input type="hidden" class="percent" value="15" />
                    <input type="hidden" class="color" value="#EDEBEE" />
                </div>
            </div>
            
        </div>
    </section>
    <section class="section-panel bg-3 hidden-xs">
        <div class="text-center">
            <h4 class="section-panel-title glitch" data-text="¡Hablemos!">¿Necesitás posicionar tu producto?</h4>
            <p>Te recomiendo que pienses en plantear una estrategia online. El servicio de Google Adwords es una muy buena opción para empezar. <a href="#footer" class="scroll">contactame</a>.</p>
        </div>
    </section>
   
</div>